a,body,div,form,h1,h2,h3,h4,h5,h6,html,label,p,span,ul, button{
    margin:0;
    padding:0;
    border:0;
    font-weight:inherit;
    font-style:inherit;
    font-size:100%;
    font-family:Poppins,sans-serif;
    vertical-align:baseline;
    line-height:24px
}
body,html{
    min-height:100%;
    width:100%
}

body{
    color:#fff;
    font-family:Poppins,sans-serif;
    vertical-align:baseline;
    font-size:1.6rem;
    line-height:1.5;
    background-color:#000;
    display:flex;
    flex-direction:column;
}

html{
    font-size:62.5%
}

a,span{
    line-height:inherit
}

button{
    color:#fff;
    cursor:pointer;
    text-decoration:none
}

.line{
    display:flex;
    background-color:#212121;
    min-height: 80vh;
}
.content-block{
    width:80%;
    background-color:#343434;
    overflow:hidden;
    background-clip:padding-box!important;
    float:left;
    padding:24px
}
.content-list{
    width:20%;
    overflow:hidden;
    background-clip:padding-box!important;
    float:left;
    padding:24px
}

::-webkit-scrollbar{
    background-color:rgba(0,0,0,0);
    width:16px
}
::-webkit-scrollbar-track{
    background-color:rgba(0,0,0,0)
}
::-webkit-scrollbar-track:hover{
    background-color:rgba(0,0,0,0)
}
::-webkit-scrollbar-thumb{
    background-color:#343434;
    border-radius:8px;
    border:6px solid #000
}
::-webkit-scrollbar-thumb:hover{
    background-color:#fff;
    border:6px solid #000
}
::-webkit-scrollbar-button{
    display:none
}


h1,h2,h3,h4,h5{
    color:#fff;
    line-height:1.25;
    font-family:Poppins,sans-serif;
    font-weight:var(--font-heading-weight);
    outline:0
}
.h1,h1{
    font-size:4.4rem;
    text-transform:capitalize;
    line-height:1.1;
    margin-bottom: 36px;
}
.h2,h2{
    font-size:3.6rem;
    letter-spacing:-.05rem;
    margin-bottom:30px
}
.h3,h3{
    font-size:2.8rem;
    letter-spacing:-.02rem;
    margin-bottom:24px
}

h4{
    font-size:2rem;
    margin-bottom:18px
}
h5{
    font-size:1.6rem;
    margin-bottom:18px
}

.p,p{
    max-width: 80vw;
    font-size:1.6rem;
    margin-bottom:12px
}

p>a{
    line-height:normal;
    border-bottom:1px solid
}

li>button{
    display:block;
    line-height:inherit;
    height:inherit;
    width: 100%;
    text-align: start;
}

ul{
    font-size:1.6rem;
    line-height:24px;
    outline:0;
    list-style:none
}

.section-name{
    font-size:1.4rem;
    line-height:inherit;
    text-transform:uppercase;
    font-weight:500
}
.regular>li button{
    padding:12px;
    border-radius:8px;
    margin-bottom:6px;
    color:#fff;
    display:block;
    background: #212121;
}
.regular>li button:focus,.regular>li button:hover{
    background:#343434;
    outline:0
}
.regular>li.selected button{
    background:#343434
}

.header{
    background-color:#000;
    height:calc(20vh - 36px);
    display:flex;
    align-items:center;
    justify-content:center;
    padding-top: 36px;
}


.color-palette-background, .color-palette-first, .color-palette-second, .color-palette-content{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items:center;
    justify-content:center;
    margin-block-end: 24px;
}

.color-palette-background{
    background: #000;
}

.color-palette-first{
    background: #212121;
}

.color-palette-second{
    background: #343434;
    border: solid white 1px;
}

.color-palette-content{
    background: #fff;
    color: #000;
}

.typography-column{
    display: flex;
    width: 100%;
    align-items: center;
}

.typography-heading{
    width: 50%;
}

.typography-heading-size{
    width: 25%;
}

.shape-example-corners{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items:center;
    justify-content:center;
    margin-block-end: 24px;
    background-color: #000;
}

.shape-example-space{
    width: 100%;
    height: 80vh;
    margin-block-end: 24px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    border: solid white 1px;
}

.shape-example{
    border-radius:8px;
    height: 80%;
    width: 20%;
    background-color: #212121;
    display: flex;
    align-items:center;
    justify-content:center;
}

.shape-section-1, .shape-section-2, .shape-section-3{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:center;
}

.shape-section-1{
    height: 20%;
}

.shape-section-2-3{
    display: flex;
    height: 80%;
}
.shape-section-2{
    background-color: #212121;
    width: 20%;
}
.shape-section-3{
    background-color: #343434;
    width: 80%;
}

